<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicasesDbassertValueMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApicasesDbassertValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dbassertid" jdbcType="BIGINT" property="dbassertid" />
    <result column="fieldname" jdbcType="VARCHAR" property="fieldname" />
    <result column="roworder" jdbcType="BIGINT" property="roworder" />
    <result column="valuetype" jdbcType="VARCHAR" property="valuetype" />
    <result column="assertcondition" jdbcType="VARCHAR" property="assertcondition" />
    <result column="expectvalue" jdbcType="LONGVARCHAR" property="expectvalue" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>


  <select id="findDbAssertValueWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM apicases_dbassert_value a
    <where>
      <if test="dbassertid != null  and dbassertid != ''">and a.dbassertid =#{dbassertid}</if>
    </where>
    order by lastmodify_time  DESC
  </select>



  <update id="updateDbAssertValue" parameterType="com.zoctan.api.entity.ApicasesDbassert">
    update apicases_dbassert_value set fieldname = #{fieldname},roworder=#{roworder},valuetype=#{valuetype},
    creator = #{creator}, expectvalue = #{expectvalue}, assertcondition = #{assertcondition} lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>