<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.DispatchMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Dispatch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="execplanid" jdbcType="BIGINT" property="execplanid" />
    <result column="execplanname" jdbcType="VARCHAR" property="execplanname" />
    <result column="batchid" jdbcType="BIGINT" property="batchid" />
    <result column="batchname" jdbcType="VARCHAR" property="batchname" />
    <result column="sceneid" jdbcType="BIGINT" property="sceneid" />
    <result column="scenename" jdbcType="VARCHAR" property="scenename" />
    <result column="slaverid" jdbcType="BIGINT" property="slaverid" />
    <result column="slavername" jdbcType="VARCHAR" property="slavername" />
    <result column="testcaseid" jdbcType="BIGINT" property="testcaseid" />
    <result column="testcasename" jdbcType="VARCHAR" property="testcasename" />
    <result column="casejmxname" jdbcType="VARCHAR" property="casejmxname" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="expect" jdbcType="VARCHAR" property="expect" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="loops" jdbcType="BIGINT" property="loops" />
    <result column="caseorder" jdbcType="BIGINT" property="caseorder" />
    <result column="threadnum" jdbcType="BIGINT" property="threadnum" />
    <result column="stopflag" jdbcType="VARCHAR" property="stopflag" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findDispatchWithName" resultMap="BaseResultMap">
    SELECT b.executeplanname as execplanname,a.*
    FROM dispatch a inner join executeplan b on a.execplanid=b.id
    <where>
      <if test="execplanname != null and execplanname != ''">a.execplanname like CONCAT('%',#{execplanname},'%')</if>
      <if test="batchname != null  and batchname != ''">and a.batchname like CONCAT('%',#{batchname},'%')</if>
      <if test="projectid != null  and projectid != ''">and a.projectid =#{projectid}</if>
      and b.projectid =#{projectid}
    </where>
    order by create_time  DESC
  </select>

  <select id="getDispatchWithstatus" resultMap="BaseResultMap">
    SELECT b.executeplanname as execplanname,c.casename as testcasename,a.*
    FROM dispatch a inner join executeplan b inner join apicases c on a.execplanid=b.id and a.testcaseid=c.id
    where a.execplanid =#{execplanid} and a.batchname = #{batchname} and a.status != #{status}
  </select>


  <select id="getdispatchnum" resultType="java.lang.Long">
    SELECT count(*)
    FROM dispatch a where a.execplanid =#{execplanid} and a.batchname = #{batchname}
  </select>
</mapper>